@{
    ViewBag.Title = "Index";
}

<h2> 공지사항 </h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var note in ViewBag.notes)
        {
            <tr>
                <td>@note.NoteNo</td>
                <td>
                    @if (ViewBag.currentUser.IfStudent.Equals("교수"))
                    {
                        <a asp-controller="Note" asp-action="Detail" asp-route-noteNo="@note.NoteNo">
                            @note.NoteTitle
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Note" asp-action="Read" asp-route-noteNo="@note.NoteNo">
                            @note.NoteTitle
                        </a>
                    }
                </td>
                @{ string username = "";}
                @foreach(var user in ViewBag.users)
                {
                    if (user.UserNo.Equals(note.UserNo)) {
                        Console.WriteLine(note.UserNo);
                        username = user.UserName;
                        break; }
                }
                <td>@username</td>
                <td>@note.NoteTimeStamp</td>
                <td>@note.ReadNum</td>
            </tr>
        }

    </tbody>
</table>

@if(ViewBag.currentUser.IfStudent.Equals("교수"))
{
    <a class="btn btn-warning" asp-controller="Note" asp-action="Add">게시물 작성</a>

}
